<h1>BOOK YOUR ROOM!!!</h1>


<%= render partial: "room/search_by_date",  locals: {room: @room}%>

<br><br><br>
<div id="show_rooms">
<%= render partial: "room/show_all_rooms", locals: { day: @day, date: @date, room: @room } %>
</div>


<div id="show_room_slots">
<%= render partial: "room/show_room_slots", locals: { day: @day, date: @date, room: @room, slots: @slots, slot: @slot, val: 1 } %>
</div>

<div id ="booking_message">
</div>