<% if date && day %>
<span> <strong>Date:</strong> <%= date %></span> <br>
<span> <strong>Day:</strong> <%= day %></span> <br><br>

<%= render partial: 'room/form', locals: {day: day, date: date, room: room} %>

<% end %>